code {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.reveal h2 {
    font-size: 1.5em;
}

h3 {
    float: left;
}

.reveal section img {
    border: none;
}

.reveal iframe, .reveal img, .reveal video {
    max-width: 80%;
}
